.todoItem {
  padding: 0.5em;
  border-bottom: 3px solid rgb(72, 72, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(206, 206, 206);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.closeButton {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
